<h1>Witaj na stronie głównej!</h1>

<p>Wybierz jedną z opcji:</p>

<ul>
  <li><%= link_to 'Zarządzaj maszynami', machines_path %></li>
  <li><%= link_to 'Zarządzaj użytkownikami', users_path %></li>
</ul>
